/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2015, 1:29:23 AM
    Author     : amit1
*/
.fileUpload,.submit{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 80%;
}
header .header-content .header-content-inner p{
	margin-bottom: 1px;
	font-size: 10px;
	margin-top :-3px;
	
}

header .header-content .header-content-inner hr{
	//margin-bottom:-40px;
}
header{
	height: 900px;
}
form{
	//margin-top:20px;
}
